
RewriteEngine on

RewriteCond %{REQUEST_FILENAME} !-f

Options -Indexes

# global routes
RewriteRule ^src/([a-zA-Z0-9\/\-.\_]+)/([a-zA-Z0-9\/\-.\_]+)$ pages/$1/assets/$2 [QSA,NC,L]


# Static Paths 

RewriteRule ^$ pages/home.php [QSA,NC,L]
RewriteRule ^login([/]?)$ pages/auth/login.php [QSA,NC,L]
RewriteRule ^register([/]?)$ pages/auth/register.php [QSA,NC,L]
RewriteRule ^forget-password([/]?)$ pages/auth/forget-password.php [QSA,NC,L]
RewriteRule ^welcome([/]?)$ pages/welcome.php [QSA,NC,L]
RewriteRule ^profile([/]?)$ pages/profile/profile.php [QSA,NC,L]
RewriteRule ^group/create([/]?)$ pages/group/create.php [QSA,NC,L]
RewriteRule ^group/(.*?)([/]?)$ pages/home.php?group=$1 [QSA,NC,L]

