.header {
  padding: 2% 5%;
  background-color: var(--primary-color);
  color: var(--white);
}

.nav {
  gap: 20px;
}

.nav > li > a {
  color: var(--white);
}

.nav > li:last-child {
  padding: 5px 15px;
  padding-top: 0;
  line-height: 1;
  border-radius: 50%;
  background-color: #6633cc;
  color: var(--white);
  font-size: 45px;
}

@media screen and (max-width: 768px) {
  .header > h1 {
    font-size: 18px;
  }
  .nav {
    gap: 5px;
  }
}
