.main-container {
  grid-template-columns: 15% 1fr;
}
.groups-desc {
  border-top: 1px solid #fbfaff;
  height: 100%;
  padding: 5%;
  background-color: var(--primary-color);
  color: #fbfaffbf;
}
.main-headings {
  padding: 10% 0;
  border-bottom: 1px solid #fbfaff;
}
.main-headings > ul > li {
  padding: 4%;
}
.main-headings > ul > li > a {
  color: #fbfaffbf;
  margin: 5% 0;
  font-size: 18px;
}
.main-headings > ul > li > a > ion-icon {
  margin-right: 10px;
  font-size: 18px;
}
.enrolled-groups {
  padding: 7% 0;
}
.enrolled-groups > ul > li {
  font-size: 15px;
  margin: 4% 0;
  padding: 0 4%;
}

.enrolled-groups > ul > li > ion-icon {
  margin-right: 10px;
  font-size: 15px;
}
.wrapper-container {
  padding: 4% 0;
  padding-bottom: 0;
}
.wrapper {
  background-color: vaR(--primary-color);
  color: vaR(--white);
  border-radius: 6px;
  width: 35vw;
  padding: 5%;
}

.wrapper > h2 {
  text-align: center;
  font-size: 30px;
}
.wrapper > p {
  margin: 4% 0;
  text-align: center;
}
.container {
  margin: 6% 0;
}
.title {
  font-size: 14px;
  color: #b5b7ba;
}
.inputContainer > input {
  outline: none;
  border: none;
  padding: 10px;
  height: 40px;
  background-color: #e3e5e8;
  width: 100%;
  font-size: 17px;
  border-radius: 4px;
  margin-top: 3%;
}

.splitButton {
  border: none;
  color: vaR(--white);
  font-size: 18px;
  font-weight: 500;
  padding: 4px 9px;
  background-color: #63c;
  border-radius: 50%;
}
